<!DOCTYPE html>
<head>
  <title>Sign up page</title>
</head>
<body>
  <h2>Sign up</h2>
  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error:</strong>
      <ul>
        {% for field, error_list in form.errors.items %}
          {% for error in error_list %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <p>
        {{ field.label_tag }} {{ field }}
        <small>{{ field.help_text}}</small>
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</body>